  <!-- <div class="maindiv" fxLayout='column'>

    <div class="heading">Dashboard</div>

    <div fxLayout='row' style="margin-right: 3.4%; margin-top: 15px;" fxFlex=100 fxLayoutAlign='space-between center'>
        <div fxLayout='column' fxLayoutGap='30px'>
            <div fxLayout='row' fxLayoutAlign='center center' class="box">
                <div fxFlex=70 fxLayout='column' fxLayoutAlign='center center'>
                    <span class="spn">{{RFP}}</span>
                    <span class="sp">RFP </span>
                </div>
            </div>
            <div fxLayout='row' fxLayoutAlign='center center' class="box">
                <div fxFlex=70 fxLayout='column' fxLayoutAlign='center center'>
                    <span class="spn">{{CFP}}</span>
                    <span class="sp">CFP </span>
                </div>

            </div>
        </div>


        <div class="donut" style="padding-right: 25px;">
            <h4 style="text-align:left;text-transform: capitalize; padding-left: 3%;margin-bottom: 10px;">BATCH DETAILS
            </h4>

            <!-- <canvas baseChart [data]="doughnutChartData" [labels]="doughnutChartLabels" [chartType]="doughnutChartType"
                [options]='doghnutchartOptions' [colors]='doughnutChartColors'>
            </canvas> 

            <div class="overlay-center" fxLayout='column' style="line-height: 1.1; text-align: center;
                margin-top: -128px;
                margin-left: -35px;">
                <label style="font-size: 1.2rem;" class="sp"><span>{{totalTypeWise}}</span></label>
                <label style="font-size: 1.2rem;" class="sp"><span>Total</span></label>
            </div>
        </div>
        <div class="barchart" fxFlex=40>
            <div style="display: block;padding-left: 1%;padding-right: 25px;" fxFlex=100>
                <h4 style="text-align:left;text-transform: capitalize;margin-bottom: 10px;margin-left: 2%;">PRACTICE
                    HEAD WISE COUNT</h4>

                 <canvas baseChart height="120" [datasets]="barChartData" [labels]="barChartLabels"
                    [options]="barChartOptions" [colors]="barChartColors" [plugins]="barChartPlugins"
                    [legend]="barChartLegend" [chartType]="barChartType">
                </canvas> 
            </div>
        </div>



    </div>

    <div class="tabling">

        <div fxLayout='column' fxFlex=100>

            <div class="tablebox ">
                <h4 style="text-align:left;text-transform: capitalize;  ">CUSTOM TOTAL - HEAD WISE</h4>

                <div class="table-div">

                    <table class="display" cellspacing="0" cellpadding="0">
                        <tbody>
                            <tr class="sub-heading">

                                <th class="mentorName-head background-head">Team Name</th>

                                <th class="email-haed background-head" *ngFor='let p of tablehead'>{{p}}</th>


                                <th class="phnNum-head background-head">CFP</th>
                                <th class="mentorType-head background-head">LFP</th>

                                <th class="email-haed background-head">CFPL</th>
                                <th class="phnNum-head background-head">CFFP </th>
                                <th class="phnNum-head background-head">BRP </th> 

                                 <th class="mentorType-head background-head">Custom Total</th>
                            </tr>

                            <tr class="mentor-data" *ngFor='let head of PracticeHeadWise;'>
                                <td class="mentorName-data"> {{head.name}} </td>
                                <td class="email-data" *ngFor='let p of head.programType'>{{p.count}}</td>
                                <td class="email-data"> {{head.total}} </td>

                            </tr>
                        </tbody>
                    </table>

                </div>

            </div>
        </div>

    </div> 


</div>   -->