<div fxLayout="column" style="margin-top: 16px">
    <div fxLayout="row" fxLayoutAlign="end center">
        <mat-icon class="icon" (click)="clear()">clear</mat-icon>
      </div>
  <div  class="upperdiv" fxLayout="row" fxLayoutAlign="space-between start">
     
    <div fxLayout="row" fxLayoutAlign="start start"   fxLayoutGap="10px">
    <div class="heading">Java</div>
    <div class="num-div">
      06
    </div>
    </div>

    
  </div>

  <div  fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="20px" style="margin-top: 20px;">
  <div class="mentordiv" >
    <div  class="leaddiv" fxLayout="row" fxLayoutAlign="start center">
      <div class="divsub">sdf</div>
      <div class="LeadName" >Ashish vishwakarma</div>
    </div>
    <div class="leaddiv" fxLayout="row" fxLayoutAlign="start center">
        <div class="EnginnerName"><div class="Enginnerinfo">Enginner</div></div>
        <div class="Buddy"><div class="Enginnerinfo">Buddy</div></div>
      </div>
    <div  fxLayout="row" fxLayoutAlign="start center">
        <div  class="EnginnerName1" fxLayout="column" >
        
          <div class="Enginnerinfo">Shweta</div>
        <div></div>
        </div>
        <div class="buddy1" fxLayout="column">
            <div class="Enginnerinfo1"> Mohit</div>
            <div class="Enginnerinfo1">Rohini</div>
            <div class="Enginnerinfo1">JotiRam</div>
           

          </div>
      </div>
  </div>

  <div class="mentordiv">
      <div class="leaddiv" fxLayout="row" fxLayoutAlign="start center">
          <div class="divsub">sdf</div>
          <div>Sunil Patil</div>
        </div>
        <div class="leaddiv" fxLayout="row" fxLayoutAlign="start center">
            <div  class="EnginnerName"><div class="Enginnerinfo">Enginner</div></div>
            <div  class="Buddy"><div class="Enginnerinfo">Buddy</div></div>
          </div>
          <div  fxLayout="row" fxLayoutAlign="start center">
              
              <div  class="EnginnerName1"  fxLayout="column" >
                  <div class="Enginnerinfo">Aniket</div>
                  <div class="Enginnerinfo">Jaspreet</div>
                </div>
                <div class="buddy1"   fxLayout="column">
                    <div class="Enginnerinfo1">Venkat</div>
                    <div class="Enginnerinfo1">Nisha</div>
                    <div class="Enginnerinfo1">Sushant</div>
                    <div class="Enginnerinfo1" >Venkat</div>
                    <div class="Enginnerinfo1">Nisha</div>
                    <div class="Enginnerinfo1">Sushant</div>
        
                  </div>
            </div>
  </div>
  </div>
</div>