.main {
  top: 101px;
  left: 194px;
  width: 291px;
  height: 200px;
  background: #ffffff 0% 0% no-repeat padding-box;

  border: 1px solid #dfdfdf;
  opacity: 1;
}

#block_container {
  display: flex;
  justify-content: center;
}
.card.ng-star-inserted {
  padding: 1%;
  display: inline-flex;
  margin: 1%;
}
.search-div {
  display: inline-flex;
  margin-left: 30%;
  width: 50%;
}
@media only screen and (min-width: 1000px) and (max-width: 1800px)  {
  .search-div {
    display: flex;
    margin-left: 13%;
    width: 50%;
    // width: 600px;
}
.search-div {
  border: 1px solid #acb7bd;
  border-radius: 5px;
  opacity: 1;
  width: 700px;
  background: white;
  // margin-left: 700px;
}
}

.button-div {
display: contents;

}

.maindiv {
display: flex;
}
.maind{
  // height: 100%;
  height: 100%;
  min-height: 100%;
    // background-color: #F4F8F9;
  background-color: #F8FAFA ;
  
    padding: 15px 20px 15px 20px;
}

.next {
  top: 101px;
  left: 484px;
  width: 219px;
  height: 200px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #dfdfdf;
  opacity: 1;
}
.third {
  top: 213px;
  left: 196px;
  width: 1170px;
  height: 200px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 0.800000011920929px solid #bebebe;
  opacity: 1;
}

.asign {
  top: 212px;
  left: 219px;
  width: 115px;
  height: 54px;
  background: #f8fafa 0% 0% no-repeat padding-box;
  opacity: 1;
}
.reactNew {
  display: flex;
}

.react {
  display: inline-flex;

  top: 73px;
  left: 194px;
  width: 1172px;

  margin-left: 2px;
  width: 37%;

  height: 200px;
  background: #fcfcfc 0% 0% no-repeat padding-box;
  border: 0.10000000149011612px solid #707070;
  opacity: 1;
}



.card2{
  cursor: pointer;
  top: 147px;
  left: 234px;
  // width: 270px;
  width: 100%;
  height: 100px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 12px;
  opacity: 1;
  margin-top: 20px;
  margin-right: 30px;
}
mat-chip.mat-chip.mat-focus-indicator.span.number.mat-primary.mat-standard-chip{
  display: inline-block;
}
.card {
  cursor: pointer;
  top: 147px;
  left: 234px;
  width: 250px;
  // height: 90px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 12px;
  opacity: 1;
  margin-top: 20px;
  margin-right: 17px;
  padding: 1%;
}

.txt {
  top: 163px;
  left: 255px;
  width: 100px;
  height: 17px;
  font-size: 16px;
  margin-left: 5%;
  text-align: left;
  // font: normal normal 600 14px/17px Lato;
  letter-spacing: 0px;
  color: #40494d;
  opacity: 1;
  padding-top: 10px;
  padding-left: 10px;
  height: 32px;
  // width: fit-content;
}

.bdetails {
  // top: 73px;
  // left: 195px;
  // width: 100%;
  // height: 695px;
  // height: 100%;
  // background: #f8fafa 0% 0% no-repeat padding-box;
  opacity: 1;
  // opacity: 1;
    // max-height: 100%;
    // overflow: auto;
  // overflow: auto;
}

.chi {
  //     top: 164px;
  // left: 876px;
  // width: 11px;
  // height: 14px;
  text-align: left;
  font: normal normal 600 10px/14px Segoe UI;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}

.button-div{
  margin-right: 30px;
}
.number {
  color: #ffffff;
  background: #7f961e 0% 0% no-repeat padding-box;

  font-size: 12px;
  height: 16px;
  width: 45px;
  border-radius: 7px;
  padding: 3px 3px 3px 3px;
  margin-top: 4px;
  margin-left: 4px;
  text-align: center;
}

// .btndisclaimer {
//     position: fixed;
//     right: 0;
//     bottom: 0;
//   }
.span {
  // top: 163px;
  // left: 360px;
  width: 35px;
  line-height: 13.2px;
  height: 13px;
  background: #7f961e 0% 0% no-repeat padding-box;
  border-radius: 11px;
  opacity: 1;
  margin-top: 1%;
}

.more {
  margin-top: 1px;
  margin-right: 8px;
  position: relative;
  top: 0;
  right: 0;
}
.mat-flat-button.mat-accent, .mat-raised-button.mat-accent, .mat-fab.mat-accent, .mat-mini-fab.mat-accent{
  left: 7px;
  top: 1px;
  width: 25px;
  height: 22px;
  background: #f5f5f5 0% 0% no-repeat padding-box !important;
  transition: none !important;
  box-shadow: none !important;
  opacity: 1;
}
.bbtnn1{
  left: 290px;
  width: 25px;
  height: 20px;
  background: #f5f5f5 0% 0% no-repeat padding-box !important;
  transition: none !important;
  box-shadow: none !important;
  opacity: 1;
}
.number1{
  color: #ffffff;
    background: #7f961e 0% 0% no-repeat padding-box;
    font-size: 12px;
    height: 13px;
    width: 25px;
    border-radius: 7px;
    padding: 3px 3px 3px 3px;
    margin-top: -2px;
    margin-left: 100px;
    text-align: center;
}
.more1{
  margin-top: -3px;
    /* margin-right: -4px; */
    position: relative;
    top: 0;
    right: 0;
}
.txt1{
      /* top: 163px; */
    /* left: 255px; */
    width: 87px;
    height: 17px;
    font-size: 16px;
    /* margin-left: 5%; */
    text-align: left;
    letter-spacing: 0px;
    color: #40494d;
    opacity: 1;
    /* padding-top: 10px; */
    /* padding-left: 10px; */
    height: 32px;
}

.bbttnn {
   top: -40px;
  right: 220px;
  left: 230px;
  width: 20px;
  height: 20px;
  background: #f5f5f5 0% 0% no-repeat padding-box;
  transition: none !important;
  box-shadow: none !important;
  opacity: 1;
}
.imge {
  //     top: 213px;
  // left: 734px;
  // width: 23px;
  // height: 23px;
  // background: transparent 0% 0% no-repeat padding-box;
  // // url('img/Group 3538.png');
  // position: relative;
  // right: -110px;
  // bottom: -70px;
  // // margin-top: 48px;

  // opacity: 1;
  width: 23px;
  height: 23px;
  background: transparent 0% 0% no-repeat padding-box;
  position: relative;
  /* right: -110px; */
  bottom: -54px;
  left: -547%;
  opacity: 1;
}

.white-icon {
  color: black;
  // margin-bottom: 15px;
  width: 3px;
  // height: 11px;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 50%;
  transform: translate(-50%, -50%);
  // width: 10px;
  // height: 10px;
  display: block;

  // background: transparent url('/src/assets/icons/ic_more_vert_24px.svg') 0% 0% no-repeat padding-box;
  opacity: 1;
}
.mat-mini-fab .mat-button-wrapper {
  padding: 0px;
}

.btitle {
  width: 103px;
  height: 22px;
  text-align: left;
  font: normal normal 600 18px/31px Lato;
  letter-spacing: 0px;
  color: #0b2530;
}
.buttons {
  font-size: 19px;
  letter-spacing: 0px;
  color: #0b2530;
  font-weight: 600;
  opacity: 1;
}
.bbtton {
  float: right;
  width: 142px;
  height: 36px;
  background: #7f961e 0% 0% no-repeat padding-box;
  border-radius: 5px;
  text-align: center;
  padding: 0px, 10px;
  z-index: 1;
}
.maindiv {
  // margin-top: 30px;
  // margin-left: auto;
  // margin-right: 22px;
    border-bottom: 0.800000011920929px solid #bebebe;

    padding: 15px 0px 45px 0px;

}
.s {
  // padding: 15px;
  text-align: center;
  // font: normal normal normal 14px/19px Segoe UI;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0px;
  color: #ffffff;
  overflow: hidden;
  min-width: 134px;
  opacity: 1;
  text-overflow: ellipsis;
  // opacity: 1;
}
.icon {
  color: white;
  padding: 2px;
  margin-bottom: 1%;
}
:host::ng-deep .mat-icon {
  // font-size: 48px;
  // width: 48px;
  // height: 48px;
  margin-left: -11px;
}
.leftmar {
  margin-left: -6px;
}

#data-time-1{
  display: flex;
  flex-direction: row;
}

.list-wrapper {
  position: relative;
  margin-left: -268%;
  /* margin-right: 21%; */
 
  margin-top: 22px;
}
.list-wrapper1 {

    position: relative;
    margin-left: -351%;
    margin-top: 22px;
}
.list-item-wrapper {
  margin-left: 0px;
  margin-bottom: 10px;
  position: relative;
}
.list-bullet {
  float: left;
  margin-right: 8px;
  // background:#FF4949;
  height: 7px;
  width: 7px;
  line-height: 7px;
  border-radius: 100px;
  font-weight: 500;
  color: white;
  text-align: center;
  //     width: 4px;
  // height: 4px;
  // background: #F33155 0% 0% no-repeat padding-box;
  // opacity: 1;
  background: #5ece21 0% 0% no-repeat padding-box;
  opacity: 1;
}

.list-bullet2 {
  float: left;
    margin-right: 8px;
    margin-top: 4px;
    height: 7px;
    /* top: 19px !important; */
    width: 7px;
    line-height: 7px;
    border-radius: 100px;
    font-weight: 500;
    color: white;
    text-align: center;
    background: #f33155 0% 0% no-repeat padding-box;
    opacity: 1;
}
.list-item {
  display: table-row;
  vertical-align: middle;
}
.list-title {
  font-weight: 700;
}
.list-text {
  width: 70px;
  font-size: 11px !important;
  font-size: 9px;
  text-align: left;
  // font: normal normal normal 9px/8px Segoe UI;
  letter-spacing: 0px;
  color: #0b2530;
}
.red-line {
  z-index: 1;
    width: 0px;
    height: 23px;
    position: absolute;
    left: 3px;
    top: 1px;
    background: #b6bbbd 0% 0% no-repeat padding-box;
    border: 1px dashed #989fa3;
    opacity: 1;
}
.red-line1 {
  z-index: 1;
    width: 0px;
    height: 33px;
    position: absolute;
    left: 3px;
    top: 1px;
    background: #b6bbbd 0% 0% no-repeat padding-box;
    border: 1px dashed #989fa3;
    opacity: 1;
}
.white-line {
  background: #fff;
  z-index: -1;
  top: 0px;
  // width:1px;
  // height:100%;
  position: absolute;
  left: 15px;

  width: 4px;
  height: 21px;
  transform: matrix(0, 1, -1, 0, 0, 0);
  opacity: 1;
}
.upload-button {
  height: 2.5em;
  width: 2.5em;
  background-color: #008cff;
  margin-right: 8%;
}
.upload-icon {
  margin-top: -0.7em;
}
.addbutton {
  height: 2.5em;
  width: 2.5em;
  background-color: #7f961e;
  margin-right: 8%;
}
.batch-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: -100px;
  display: list-item;
}
.add-icon {
  margin-top: -0.3em;
}
.maindiv2 {
  opacity: 1;
    max-height: 100%;
    overflow: auto;
  // overflow: auto;
}

.listDetails {
  margin-top: 15px;
  margin-left: 3%;
}
.day {
  font-size: 9px;
  color: #a2a2a2;
}
.edit {
  height: 17px;
  width: 13px;
  font-size: 17px;
  margin-right: 9px !important;
  color: #707070;
}
.menu-button {
  color: #143a50;
  font-size: 13px;
  height: 35px;
  line-height: 35px;
  display: flex;
  align-items: center;
}
.search {
    width: 50%;
    height: 34px;
    background: #ffffff 0% 0% no-repeat padding-box;
    border: transparent;
    // border-radius: 5px;
    // opacity: 1;
    // text-indent: 4px;
    margin: 0 1% 0 1%;
    outline: none;
    font-size: 14px;
}

.search-div {
    border: 1px solid #acb7bd;
    border-radius: 5px;
    opacity: 1;
    width: 700px;
    background: white;
    // margin-left: 700px;
}

.bbtton s{
  margin-left: 37px;

}


.search-icon-div {
    width: 30px;
    height: 30px;
}

.search-icon {
  margin-top: 38%;
    margin-left: 0.6em;
    font-size: 17px;
    color: #413f54;
    height: 15px;
}

.dta{
    // border-top-color: #e6ebee;
    // border-top-style: solid;
    // border-top-width: 1px;
    // border-bottom-color: #e6ebee;
    // border-bottom-style: solid;
    // border-bottom-width: 1px;
    max-width: 100px;
    overflow: hidden;
    padding-left: 7px;
    padding-right: 7px;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 12px;
}
.mgn {
  display: inline-flex;
}
.matcard{
  cursor: pointer;
  top: 147px;
  left: 234px;
  width: 270px;
  width: 100%;
   height: 200px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 12px;
  border: 1px solid;
  border-top: 1px solid;
  border-top: 1px solid #989fa3;
  border-bottom: 1px solid #989fa3 ;

  opacity: 1;
  // margin-top: 20px;
  margin-right: 30px;
}
tr{
  cursor: pointer;
  top: 147px;
  left: 234px;
  width: 270px;
  width: 100%;
   height: 200px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 12px;
  border: 1px solid;
  border-top: 1px solid;
  border-top: 1px solid #989fa3;
  border-bottom: 1px solid #989fa3 ;

  opacity: 1;
}


.tablebox {
    //     width: 1172px;
    max-height: 755px;
    background: #f8fafa 0% 0% no-repeat padding-box;
    opacity: 1;
    // max-height: 100%;
    overflow: auto;
}


.profile-img {
    border-radius: 50%;
    cursor: pointer;
    height: 29px;
    width: 29px;
}

.display {
    width: 99.9%;
    border-spacing: 0 7px;
    min-width: 800px;
    margin-top: -40px;
    border-collapse: separate !important;
    border-spacing: 0px 10px !important;
}




.table-div {
    padding-top: 30px;
    display: flex;
}
.display {
    width: 99.5%;
    border-spacing: 0 7px;
    min-width: 800px;
    margin-top: -40px;
    border-collapse: separate !important;
    border-spacing: 0px 10px !important;
}
td {
    border-top-color: #e6ebee;
    border-top-style: solid;
    border-top-width: 1px;
    border-bottom-color: #e6ebee;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    max-width: 100px;
    overflow: hidden;
    padding-left: 7px;
    padding-right: 7px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

tr:not(:first-child) {
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 2px solid #e3e3e3;
}
td:last-child {
    border-right-color: #e6ebee;
    border-right-style: solid;
    border-right-width: 1px;
    border-radius: 3px;
}
td:first-child {
    border-left-color: #e6ebee;
    border-left-style: solid;
    border-left-width: 1px;
    border-radius: 3px;
}
td {
    border-top-color: #e6ebee;
    border-top-style: solid;
    border-top-width: 1px;
    border-bottom-color: #e6ebee;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}



table   th {
    // background: white;
    // position: sticky;
  // position: fixed;
  // z-index: 100;
    // top: 86x; /* Don't forget this, required for the stickiness */

    background-color: #F4F8F9;

  position:sticky;
  top:0;
  z-index:1;
  border-top:0;
}


.noData {
    position: absolute;
    top: 56%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5em;
    opacity: 0.4;
}
.norecords{
margin-top: 15px;
    height: 90px;
    line-height: 90px;
    text-align: center;
    border: 2px dashed #f69c55;

}
.sub-heading {

  // top: 150px;
    width: 100%;
    height: 40px;
    font: normal normal bold 10px/14px Segoe UI;
    letter-spacing: 0px;
    color: #707070;
    opacity: 1;
}

.livelink {
    // width: 173px;
    height: 13px;
    text-align: left;
    text-decoration: underline;
    font: normal normal normal 11px/13px Lato;
    letter-spacing: 0px;
    color: #2680eb;
    opacity: 1;
    cursor: pointer;
}
.background-head{
  vertical-align: text-top;
}
.img-head {
    width: 40px;
}

.mentorName-head {
    // width: 110px;
  width: 380px;
}
.email-haed {
    width: 100px;
}
.enrollment{
  width: 30px;
}
.phnNum-head {
    width: 110px;
    // padding-left: 15px;
}
.mentorType-head {
    width: 90px;
}
.categiry-head {
    width: 80px;
}
.techStack-head {
    width: 80px;
}
.exYear-head {
    width: 90px;
}
.ExYr-head {
    width: 90px;
}
.workEx-head {
    width: 80px;
}
.img-head {
    width: 40px;
}
.example-margin {
    margin: 0 12px;
    border: red;
}
.mentor-data {
    font: normal normal normal 12px/16px Segoe UI;
    letter-spacing: 0px;
    color: #707070;
    opacity: 1;
    // width: 100%;
    height: 40px;
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 1px solid #e6ebee;
    border-radius: 2px;
    outline: thin solid #e6ebee;

}


.mentorName-data {
    // width: 100px;
    height: 16px;
    text-align: left;
    //font: normal normal normal 12px/16px Segoe UI;
    letter-spacing: 0px;
    color: #707070;
    opacity: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 13px;
  cursor: pointer;
}

.count{
  width: 30px;
}
.email-data {
    width: 110px;
    text-overflow: ellipsis;
}
.phnNum-data {
    width: 110px;
    // width: 106px;
    padding-left: 15px;
    height: 15px;
    text-align: left;
    //font: normal normal normal 12px/15px Lato;
    letter-spacing: 0px;
    color: #676668;
    opacity: 1;
    text-overflow: ellipsis;
}
.mentorType-data {
    width: 80px;
    text-overflow: ellipsis;
}
.categiry-data {
    width: 80px;
    text-overflow: ellipsis;
}
.techStack-data {
    width: 80px;
    text-overflow: ellipsis;
    cursor: pointer;
}
.unassign-more {
    text-align: start;
    width: 9px;
    text-overflow: ellipsis;
    cursor: pointer;
}
.more-button {
    width: 110px;
    text-overflow: ellipsis;
    cursor: pointer;
}

.ExYr-head {
    width: 100px;
    text-overflow: ellipsis;
}
.workEx-data {
    width: 110px;
    text-overflow: ellipsis;
}
.img-data {
    width: 40px;
    text-align: center;
}
// :host ::ng-deep .mat-chip.mat-standard-chip {
// 	// background-color: #e0e0e0;
// 	color: rgba(0, 0, 0, 0.87);
// 	// height: 20px;
// 	width: fit-content;
// 	border-radius: 5px 5px 5px 5px;
// }


.display {
    width: 99.9%;
    border-spacing: 0 7px;
    min-width: 800px;
    margin-top: -40px;
    border-collapse: separate !important;
    border-spacing: 0px 10px !important;
}
td {
    border-top-color: #e6ebee;
    border-top-style: solid;
    border-top-width: 1px;
    border-bottom-color: #e6ebee;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    max-width: 100px;
    overflow: hidden;
    padding-left: 7px;
    padding-right: 7px;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 13px;
}
th {
    text-align: start;
    padding: 5px 8px;
    font-size: 13px;
}
tr:not(:first-child) {
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 2px solid #e3e3e3;
}
//     height: 35px;
//     line-height: 35px;
//     display: flex;
//     align-items: center;
//   }
  .search {
      width: 100%;
      height: 34px;
      background: #ffffff 0% 0% no-repeat padding-box;
      border: transparent;
      // border-radius: 5px;
      // opacity: 1;
      // text-indent: 4px;
      margin: 0 1% 0 1%;
      outline: none;
      font-size: 14px;
  }
  

table {
    width: 100%;
    border-spacing: 0 8px !important;
  position: relative;
}





//tab csss




:host ::ng-deep .mat-tab-body-wrapper {
    position: relative;
    overflow: hidden;
    display: flex;
    transition: height .5s cubic-bezier(.35,0,.25,1);
    height: 100%;
    background-color:  #F4F8F9;
    
}

:host ::ng-deep .mat-tab-group {
  height: calc(100vh - 10.5em) !important;

  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  ::-webkit-scrollbar-track {
    background: #F0EEEE;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #BEBEBE;
  }
}

// :host ::ng-deep .mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
//   background-color: #bebebe;
// }

// :host ::ng-deep .mat-ink-bar {
//   position: absolute;
//   bottom: 0;
//   height: 0px;
//   background-color: #F4F8F9;
//   transition: .5s cubic-bezier(.35,0,.25,1);
// }
// ::ng-deep .mat-tab-header, .mat-tab-nav-bar {
//   border-bottom: 0;
// }
:host ::ng-deep .mat-tab-label {
    border-width: 1px;
    border-style: solid;

    left: 2%;
    padding-left: 0px;
    padding-right: 0px;
    border-top: 0.800000011920929px solid #bebebe;
    border-left: 0.800000011920929px solid #bebebe;
    border-right: 0.800000011920929px solid #bebebe;
    border-bottom: 0.800000011920929px solid #bebebe;
    // min-width: 114px;
  min-width: 7.9rem;

    height: 37px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  padding: 4px;

    // border-color: orange;
}


:host ::ng-deep .mat-tab-list .mat-tab-labels {
    display: flex;
    // justify-content: space-evenly;
    gap: 15px;
    width: 20%;
    // margin-left: 1%;
    float: left;
    // margin-left: auto;
    // margin-right: auto;
}

.active {
    width: 115px;
    height: 54px;
    background: #F4F8F9 0% 0% no-repeat padding-box;
    opacity: 1;
}

:host ::ng-deep .mat-tab-list .mat-tab-labels .mat-tab-label-active {
  // color:red;
  left: 2.1%;
  padding-left: 0px;
  padding-right: 0px;
  border-left: 0.800000011920929px solid #bebebe;
  border-top: 3px solid #7f961e;
  border-right: 0.800000011920929px solid #bebebe;
  // border-bottom: none;
  // border-bottom: #F4F8F9;
  // background-color: #F8FAFA;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  // min-width: 114px;
  min-width: 7.9rem;
  padding: 4px;
  
  color:#7F961E;
  opacity: 1;
  height: 37px;
  // background: #f8fafa 0% 0% no-repeat padding-box;
  background-color: #F4F8F9;

  .active {
    text-align: left;
    font: normal normal 600 11px/15px Segoe UI;
    letter-spacing: 0px;
    color: #2b2b2b;
    text-transform: uppercase;
    opacity: 1;
  }
}

mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color: #F4F8F9 0% 0% no-repeat padding-box;
    // background: #F8FAFA 0% 0% no-repeat padding-box;
}
:host ::ng-deep .mat-tab-group.mat-primary .mat-ink-bar {
    background-color: #F4F8F9 !important;
}

.mat-tab-header,
.mat-tab-label-container,
.mat-ripple {
    overflow: inherit !important;
}
// .mat-ink-bar:after {
// 	content: "";
// 	position: absolute;
// 	top: 48px;
// 	right: 0;
// 	left: 0;
// 	margin: 0 auto;
// 	width: 0;
// 	height: 0;
// 	border-top: solid 20px #673ab7;
// 	border-left: solid 20px transparent;
// 	border-right: solid 20px transparent;
// }

// // .mat-ink-bar {
// //   background-color: green;
// // }
:host ::ng-deep .mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
  // background-color: #3f51b5; 
  background-color: #F4F8F9; 

}
// .mat-ink-bar {
//   position: absolute;
//   bottom: 0;
//   height: 1px;
//   transition: .5s cubic-bezier(.35,0,.25,1);
// }
::ng-deep .mat-tab-group .mat-ink-bar, .mat-tab-nav-bar .mat-ink-bar{
  // display: none !important;
  border-color: #F4F8F9;
  background-color: #F4F8F9;
  height: 1px;
  width: 125px;
 }
// .remove-border-bottom ::ng-deep .mat-tab-header {
// 	border-bottom: none;
  
// }

.remove-border-bottom ::ng-deep .mat-tab-header {
    border-bottom: none;
}
.remove-border-bottom .mat-tab-header {
    border-bottom: none;
}
:host ::ng-deep .mat-tab-label {
    border-width: 1px;
    border-style: solid;

    left: 2%;
    padding-left: 0px;
    padding-right: 0px;
    border-top: 0.800000011920929px solid #bebebe;
    border-left: 0.800000011920929px solid #bebebe;
    border-right: 0.800000011920929px solid #bebebe;
    border-bottom: 0.800000011920929px solid #bebebe;
    // min-width: 114px;
  min-width: 7.9rem;

    height: 37px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;


}
.mat-tab-group {
    display: flex;
    flex-direction: column;
    margin-top: -37px;
}
.mat-divider {
  border-top-color: #f2f5f7 !important;
}