
// #material-icons-1{
// 	font-size: 23px;
//   margin-left: -25px;
//   cursor: pointer;
// }
// #form-control-new{
// 	height: 25px;
//   padding-right: 30px;
// }
// input[type=text] {
// 	width: 100%;
// 	box-sizing: border-box;
// 	border: 2px solid #ccc;
// 	border-radius: 4px;
// 	font-size: 16px;
// 	background-color: white;
// 	background-position: 10px 10px; 
// 	background-repeat: no-repeat;
// 	padding: 12px 20px 12px 40px;
//   }

// .form-group{
// 	padding-left: 15%;
// 	min-width: 700px;
// }

// .serchbarDiv{

// 	margin-left: 1%;
// 	//margin-left: -820px;
// 	  flex: 2 2 content;
// 	 // padding: 20px 2px 10px 10px;
// 	 font-size: 30px;
// 	 min-width: 50%;
	
//   }
// .mat-container {
// 	height: 100%;
// 	// width: 100%;
// 	max-width: 100vw;
// 	max-height: 100vh;
// }

// .sidenavdiv {
// 	width: 100%;
// 	height: 100%;
// }

// .sidenav {
// 	position: absolute;
// 	top: 65;
// 	width: 15%;
// 	background-color: #ffffff;
// 	// box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
// }

// .edit-div {
// 	height: 10em;
// 	width: 0%;
// }


// form.nosubmit {
// 	border: none;
//     padding: 0;
//     /* width: 182vh; */
//     margin-right: 29%;
//     flex: 0 0 content;
//   }
  
//   input.nosubmit {
//     width: 728px;
//     border: 1px solid #555;
//     display: block;
// 	margin-left: -40%;
//     padding: 12px 10px 12px 45px;
// 	background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;
//   }


#material-icons-1{
	font-size: 23px;
  margin-left: -25px;
  cursor: pointer;
}
#form-control-new{
	height: 25px;
  padding-right: 30px;
}
input[type=text] {
	width: 100%;
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 4px;
	font-size: 16px;
	background-color: white;
	background-position: 10px 10px; 
	background-repeat: no-repeat;
	padding: 12px 20px 12px 40px;
  }

.form-group{
	padding-left: 15%;
	min-width: 700px;
}

.serchbarDiv{

	margin-left: 1%;
	//margin-left: -820px;
	  flex: 2 2 content;
	 // padding: 20px 2px 10px 10px;
	 font-size: 30px;
	 min-width: 50%;
	
  }
.mat-container {
	height: 100%;
	// width: 100%;
	max-width: 100vw;
	max-height: 100vh;
}

.sidenavdiv {
	width: 100%;
	height: 100%;
}

.sidenav {
	position: absolute;
	top: 65;
	width: 15%;
	background-color: #ffffff;
	// box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.edit-div {
	height: 10em;
	width: 0%;
}


// form.nosubmit {
// 	border: none;
//     padding: 0;
//     width: 180vh;
//     margin-left: 29%;
//     flex: 0 0 content;
//   }
  
//   input.nosubmit {
//     width: 728px;
//     border: 1px solid #555;
//     display: block;
//     padding: 12px 10px 12px 45px;
// 	background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;
//   }

// form.nosubmit {
// 	border: none;
// 	padding: 0;
//   }
  
//   input.nosubmit {
// 	display: flex;
// 	justify-content: space-between;
// 	width: 100%;
// 	border: 1px solid #555;
// 	display: block;
// 	display: flex;
// 	padding: 9px 4px 9px 40px;
// 	background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;
//   }

form.nosubmit {
	// border: none;
	// padding: 0;
    // display: flex;
	// width: 182px;
    // margin-left: -28%;
	display: flex;
	align-items: center;
	justify-content: space-between;
  }
  input{
	  margin: 0 0.5rem 0 0.5rem;
	  width: 100%;
	  padding: 12px 5px 12px 45px;
	  margin-left: -28%;
	//   margin-left: 20%;
  }