// @import "../../config/LMS-theme.scss";

.changePasswordDiv {
    display: flex; 
    align-content: center;
    justify-content: center;
    position: absolute;
    margin-top: -49px;
    margin-left: 8.5%;
}

.changpassword-card {
    height: 1.5em;
    background-color: #7F961E;
    width: 150px;
    font-size: 15px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-content: center;
    border-radius: 10px;
    margin-left: -28px;
    // @include dialog_heading($_heading_font_weight, $_heading_border_radius);
}

.formfields-div {
    padding: 10% 8% 0% 8%;
}

:host ::ng-deep.mat-form-field-suffix .mat-icon {
    color: #658292 !important;
    font-size: larger !important;
}

:host ::ng-deep.mat-form-field-infix {
    border-top-width: 0.35375em !important;
}

:host ::ng-deep.mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 0.65em 0 0.65em 0 !important;
}

:host ::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color: #7f961e !important;
}

:host ::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
    color: #7f961e !important;
}

:host ::ng-deep input.mat-input-element {
    font-size: smaller !important;
}

:host ::ng-deep .mat-form-field:not(.mat-form-field-appearance-legacy) .mat-form-field-suffix .mat-icon {
    cursor: pointer !important;
}

.submit-button {
    background-color: #7f961e;
    color: #ffffff;
    height: 40px;
    width: 122px;
    font-weight: 550;
    font-size: medium;
}

.cancel-button {
    background-color: #ffffff;
    color: #658292;
    height: 40px;
    width: 122px;
    font-weight: 200;
    font-size: medium;
    margin-right: 10px;
}

.inputs {
    display: contents;
}

.form-fields {
    width: 100%;
    color: #143A50;

}

.buttons-div {
    padding-top: 1%;
    display: flex;
    flex-direction: row;
    justify-content: end;
}